@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<center>
    <h5><b>SIGN UP</b> </h5>
        <div>
            <div >
                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                    <hr style="background-color: #ed1563; width: 80%; height: 0.4pt;" />
                    <h5><b>SIGN UP WITH...</b> </h5>
                    <p style="color: #4a4949; margin-bottom: 0">Signing up with social media is much more quicker, while you do don't have to remember extra password. Don't worry, we'd never share any of your personal info or post anything on your behalf.</p>
                    <div style="width: 40%; height: 17px; border-bottom: 1px solid #a1a1a1; text-align: center">
                        <span style="font-size:1.25rem; background-color: #F7F7F7; padding: 0 10px;">
                         <b>OR</b>   
                        </span>
                    </div>
                    <h5 style="margin-top: 15px"><b>CREATE AN ACCOUNT</b></h5>
                    <div class="form-group" >
                        <label asp-for="FirstName" style="float:left"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" style="float:left"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" style="float:left"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" style="float:left"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div> 
                    <p style="color: #4a4949;">By <b>Registering</b>, you agree that you've read and accepted our <a href="">User Agreement</a>, you're at least 18 years old, and you consent to our <a href="">Privacy Notice</a> and receiving marketing communications from us.</p>
                    <button style="background-color: #ed1563; color: #ffffff" type="submit" class="btn btn-default"><b>REGISTER</b></button>
                    <p style="margin-top: 10px">Already have an account ?
                        <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" style="color: #6A80CE"> Sign In</a></p>
                </form>
            </div>
        </div>
</center>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
